body,
html {
  font-family: 'system-ui', sans-serif;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-dark-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
