.container {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--spacing-fluid-grid-gap);
  gap: var(--spacing-fluid-grid-gap);
}

.m100 {
  grid-column: 1 / span 12;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: inherit;
  column-gap: var(--spacing-fluid-content-gap);
}

.m100SingleCol {
  @media --sm {
    grid-column: 2 / span 10;
  }
  @media --md {
    grid-column: 3 / span 8;
  }
}

.m100MultiCol {
  @media --md {
    grid-column: 2 / span 10;
  }
}

.content {
  display: grid;
  gap: inherit;
}

.columns {
  display: grid;
  gap: inherit;
  @media --sm {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }
}

.cta {
  /* Makes sure its centered when in either flex or grid layout */
  justify-self: center;
  align-self: center;
}

.richTextOverride {
  & ul:not(ul ul) {
    padding-inline-start: 20px;
  }
}
